* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

}


.list-items {
  background-color: white;
  color: black;
  margin: 3px;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.active {
  color: red;
}

.hide-content {
  /* opacity: 0; */
  display: none;
}