html {
  height: 100%;
  width: 100%;
}

.boxContainer {
  color: white;
  display: flex;
  justify-content: center;
}

.black {
  background-color: black;
  height: 100px;
  width: 100px;
  cursor: pointer;
   color: white;
}

.red {
  background-color: red;
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: white;
}

.green {
  height: 100px;
  width: 100px;
  background-color: green;
  cursor: pointer;
  color: white;
}

.clearButtonContainer {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.clear {
  cursor: pointer;
  padding:5px 20px;
}